---
layout: home
body_class: home
title: Chaitanya Bapat
html_title: Chaitanya Bapat
---
<section id="intro" class="intro">
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <a href="#" class="logo wow jello animated">CPBapat</a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
        <div id="hamburger" class="hamburglar is-closed">
          <div class="burger-icon">
            <div class="burger-container">
              <span class="burger-bun-top"></span>
              <span class="burger-filling"></span>
              <span class="burger-bun-bot"></span>
            </div>
          </div>
          <!-- svg ring containter -->
          <div class="burger-ring">
            <svg class="svg-ring">
              <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
                    d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"/>
            </svg>
          </div>
          <!-- the masked path that animates the fill to the ring -->
          <svg width="0" height="0">
            <mask id="mask">
              <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10"
                    stroke-width="4" d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"/>
            </mask>
          </svg>
          <div class="path-burger">
            <div class="animate-path">
              <div class="path-rotation"></div>
            </div>
          </div>
        </div>
      </a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu">
          <li class="nav-link wow rubberBand animated" data-wow-delay="1s"><a href="/blogs">Blogs</a></li>
          <!-- <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
              <li><a href="javascript:void(0)">Submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
              <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                  <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                  <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
          <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
          </ul>
      </li>
  </ul>
</li> -->
        </ul>
      </nav>
    </div>
  </header>
  <div class="banner wow fadeInLeft animated" data-wow-delay="0.5s">
    <div class="container">
      <div class="text-center">
        <h2>Hi!</h2>
        <h1>I am Chaitanya Bapat</h1>
        <hr>
        <p>
          A full-stack developer, passionate and curious to learn new technologies.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="content">
  <section id="skills">
    <h2 class="text-center wow fadeInUp animated" data-wow-delay="0.5s">Skills</h2>
    <ul class="bullets">
      <li class="bullet wow fadeInLeft animated">
        <div class="bullet-icon bullet-icon-1">
          <i class="fa fa-html5"></i>
        </div>
        <h2>Front-End</h2>
        <div class="bullet-content">
          <p>
            HTML, CSS, Javascript, Responsive Web, Photoshop and Sketch basics
          </p>
        </div>
      </li>
      <li class="bullet wow fadeInUp animated">
        <div class="bullet-icon bullet-icon-2">
          <i class="fa fa-code"></i>
        </div>
        <h2>Backend</h2>
        <div class="bullet-content">
          <p>
            Ruby on Rails, Python, Databases, Java
          </p>
        </div>
      </li>
      <li class="bullet wow fadeInRight animated">
        <div class="bullet-icon bullet-icon-3">
          <i class="fa fa-cogs"></i>
        </div>
        <h2>Devops</h2>
        <div class="bullet-content">
          <p>
            Ansible hands-on.
          </p>
        </div>
      </li>
      <li class="bullet wow fadeInRight animated">
        <div class="bullet-icon bullet-icon-3">
          <i class="fa fa-ellipsis-h"></i>
        </div>
        <h2>Miscellaneous</h2>
        <div class="bullet-content">
          <p>
            Git, Agile/Scrum , Performance, TDD, REST
          </p>
        </div>
      </li>
    </ul>
  </section>
</div>

<section id="my-journey">
  <h2 class="text-center">My Journey so far..</h2>
  <div class="timeline container">
  {% for milestone in site.data.timeline %}
    <div class="timeline-block evenHeights clearfix span-7 t-span-12">
      <div class="timeline-img wow zoomIn animated">
        {% if milestone.icon.type == "fonticon" %}
          <div class="timeline-icon" style="background-color: {{ milestone.icon.background_color }}"><i class="fa {{milestone.icon.class}}" aria-hidden="true"></i></div>
        {% else %}
          <img class="timeline-icon" src="{{ milestone.icon.src }}" style="background-color: {{ milestone.icon.background_color }}">
        {% endif %}
      </div>
      <div class="timeline-content wow animated {{ milestone.additional_classes }}">
        <h3><strong>{{ milestone.title }}</strong></h3>
        <p>{{ milestone.description }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</section>

<section id="programming-quotes">
  <div class="container">
    <div class="row">
      <h2 class="text-center wow animated zoomIn">I take these seriously...</h2>
      <br/>
      <div class="comment wow fadeInRight animated">
        <div class="comment-image">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="comment-content">
          <p>Any fool can write code that a computer can understand. Good programmers write code that humans
            can understand.</p>
          <p class="comment-detail">- Martin Fowler</p>
        </div>
      </div>
      <div class="comment wow fadeInRight animated">
        <div class="comment-image">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="comment-content">
          <p>Always code as if the guy who ends up maintaining your code will be a violent psychopath who
            knows where you live.</p>
          <p class="comment-detail">- Martin Golding</p>
        </div>
      </div>
      <div class="comment wow fadeInRight animated">
        <div class="comment-image">
          <i class="fa fa-quote-left"></i>
        </div>
        <div class="comment-content">
          <p>
            There are two ways of constructing a software design: One way is to make it so simple that there
            are obviously no deficiencies, and the other way is to make it so complicated that there are no
            obvious deficiencies. The first method is far more difficult.
          </p>
          <p class="comment-detail">- C.A.R. Hoare</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="home-footer" class="clearfix">
  <h2 class="text-center">GET IN TOUCH</h2>

  <div class="container row">
    <div class="social-links span-6 m-span-12">

      <div class="contact-left wow fadeInRight animated" data-wow-delay="0.4s">
        <ul class="clearfix">
          <li><a href="http://www.twitter.com/chaibapchya" target="_blank">
            <i class="fa fa-twitter"></i>
            <span>Twitter</span></a>
          </li>
          <li><a href="http://www.facebook.com/chaibapchya" target="_blank">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
          </a>
          </li>
          <li><a href="https://plus.google.com/u/0/+ChaitanyaBapatChaitanyaPrakashBapat" target="_blank">
            <i class="fa fa-google-plus"></i>
            <span>Google +</span></a>
          </li>
          <li><a href="https://github.com/chaibapchya" target="_blank">
            <i class="fa fa-github"></i>
            <span>GitHub</span></a>
          </li>
          <li><a href="https://www.linkedin.com/in/chaibapchya" target="_blank">
            <i class="fa fa-linkedin"></i>
            <span>Linkedin</span></a></li> 
          <li><a href="https://stackoverflow.com/users/5157515/chaitanya-bapat?tab=profile" target="_blank">
            <i class="fa fa-stack-overflow"></i>
            <span>Stack Overflow</span></a>
          </li> 
          <li><a href="mailto:chai.bapat@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
            <span>Mail</span></a>
          </li>
          <li><a href="https://chaibapat.wordpress.com" target="_blank">
            <i class="fa fa-wordpress"></i>
            <span>Mail</span></a>
          </li>
          <li><a href="https://medium.com/@chai.bapat" target="_blank">
            <i class="fa fa-medium"></i>
            <span>Mail</span></a>
          </li>
          <li><a href="https://www.instagram.com/chaibapchya/" target="_blank">
            <i class="fa fa-instagram"></i>
            <span>Mail</span></a>
          </li>
          <li><a href="https://snapchat.com/add/chaibaptya" target="_blank">
            <i class="fa fa-snapchat"></i>
            <span>Mail</span></a>
          </li>
           
           
        </ul>
      </div>
    </div>
    <div class="email-form span-4 m-span-12">
      <form action="MAILTO:chai.bapat@gmail.com" method="post" enctype="text/plain" data-wow-delay="0.4s"
            class="wow fadeInLeft animated">
        <div class="form-input span-12">
          <label for="name" class="sr-only">Name:</label>
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="form-input span-12">
          <label for="mail" class="sr-only">Email</label>
          <input type="text" name="mail" placeholder="Email id">
        </div>
        <div class="form-input span-12">
          <label for="comment" class="sr-only">Comment:</label>
          <textarea type="text" name="comment" placeholder="Your message." rows="5"></textarea>
        </div>
        <div class="form-submit span-12 mobile-text-center">
          <input type="submit" value="Send">
        </div>
      </form>
    </div>
  </div>
</section>
