---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Chaitanya Bapat</div>
      <div style='font-size: 1.2em;'>
        M.S. Student
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://www.cc.gatech.edu">Computer Science</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="http://www.gatech.edu">Georgia Institute of Technology</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="https://github.com/ChaiBapchya/ChaiBapchya.github.io" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-code-fork"></i>
        </a>
        <a href="cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="https://github.com/ChaiBapchya" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
         <li>
          <a href="https://www.linkedin.com/in/chaibapchya/" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/ChaiBapchya" target="_blank">
            <i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/chaibapchya" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.quora.com/profile/Chaitanya-Prakash-Bapat" target="_blank">
            <i class="fa fa-quora"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.com/citations?hl=en&user=zt8l9pQAAAAJ" target="_blank">
            <i class="ai ai-google-scholar-square"></i></a>
        </li>
      </ul>
    
    </div>
   
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/200chai.jpg">
        <img src="/images/200chai.jpg"
             style="border-radius: 20px; margin: 10px; max-width: none; width:256; height:200"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
